Omega/web/WEB-INF/wsdl/localhost_8080/MyWebService/MyWebService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://webservices/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://webservices/" name="MyWebService">
<types>
<xsd:schema>
<xsd:import namespace="http://webservices/" schemaLocation="http://localhost:8080/MyWebService/MyWebService?xsd=1"/>
</xsd:schema>
</types>
<message name="operation">
<part name="parameters" element="tns:operation"/>
</message>
<message name="operationResponse">
<part name="parameters" element="tns:operationResponse"/>
</message>
<message name="hello">
<part name="parameters" element="tns:hello"/>
</message>
<message name="helloResponse">
<part name="parameters" element="tns:helloResponse"/>
</message>
<message name="insertRow">
<part name="parameters" element="tns:insertRow"/>
</message>
<message name="insertRowResponse">
<part name="parameters" element="tns:insertRowResponse"/>
</message>
<message name="createTable">
<part name="parameters" element="tns:createTable"/>
</message>
<message name="createTableResponse">
<part name="parameters" element="tns:createTableResponse"/>
</message>
<message name="deleteRow">
<part name="parameters" element="tns:deleteRow"/>
</message>
<message name="deleteRowResponse">
<part name="parameters" element="tns:deleteRowResponse"/>
</message>
<message name="showTable">
<part name="parameters" element="tns:showTable"/>
</message>
<message name="showTableResponse">
<part name="parameters" element="tns:showTableResponse"/>
</message>
<message name="ClassNotFoundException">
<part name="fault" element="tns:ClassNotFoundException"/>
</message>
<message name="updateRow">
<part name="parameters" element="tns:updateRow"/>
</message>
<message name="updateRowResponse">
<part name="parameters" element="tns:updateRowResponse"/>
</message>
<portType name="MyWebService">
<operation name="operation">
<input wsam:Action="http://webservices/MyWebService/operationRequest" message="tns:operation"/>
<output wsam:Action="http://webservices/MyWebService/operationResponse" message="tns:operationResponse"/>
</operation>
<operation name="hello">
<input wsam:Action="http://webservices/MyWebService/helloRequest" message="tns:hello"/>
<output wsam:Action="http://webservices/MyWebService/helloResponse" message="tns:helloResponse"/>
</operation>
<operation name="insertRow">
<input wsam:Action="http://webservices/MyWebService/insertRowRequest" message="tns:insertRow"/>
<output wsam:Action="http://webservices/MyWebService/insertRowResponse" message="tns:insertRowResponse"/>
</operation>
<operation name="createTable">
<input wsam:Action="http://webservices/MyWebService/createTableRequest" message="tns:createTable"/>
<output wsam:Action="http://webservices/MyWebService/createTableResponse" message="tns:createTableResponse"/>
</operation>
<operation name="deleteRow">
<input wsam:Action="http://webservices/MyWebService/deleteRowRequest" message="tns:deleteRow"/>
<output wsam:Action="http://webservices/MyWebService/deleteRowResponse" message="tns:deleteRowResponse"/>
</operation>
<operation name="showTable">
<input wsam:Action="http://webservices/MyWebService/showTableRequest" message="tns:showTable"/>
<output wsam:Action="http://webservices/MyWebService/showTableResponse" message="tns:showTableResponse"/>
<fault message="tns:ClassNotFoundException" name="ClassNotFoundException" wsam:Action="http://webservices/MyWebService/showTable/Fault/ClassNotFoundException"/>
</operation>
<operation name="updateRow">
<input wsam:Action="http://webservices/MyWebService/updateRowRequest" message="tns:updateRow"/>
<output wsam:Action="http://webservices/MyWebService/updateRowResponse" message="tns:updateRowResponse"/>
</operation>
</portType>
<binding name="MyWebServicePortBinding" type="tns:MyWebService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="operation">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="hello">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="insertRow">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="createTable">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="deleteRow">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="showTable">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="ClassNotFoundException">
<soap:fault name="ClassNotFoundException" use="literal"/>
</fault>
</operation>
<operation name="updateRow">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="MyWebService">
<port name="MyWebServicePort" binding="tns:MyWebServicePortBinding">
<soap:address location="http://localhost:8080/MyWebService/MyWebService"/>
</port>
</service>
</definitions>